$red: #CC333F;

h1,h2,h3,h4,p {
	font-family: Roboto !important;
}

h1 {
  padding: 80px 0 40px;
  font-size: 40px;
  line-height: 48px;
  color: #505762;
}


#top {
  overflow: hidden;
  height: 200px;
  background: #fff;
  background: $red;
  h1 {
	  color: #fff;
	  text-align: center;
	  position: relative;
	  bottom: 0;
  }
}

#search {
  width: 100%;
  background: #ddd;
  padding: 10px;
  text-align: center;
  font-family: Arial;
  input {
	  width: 200px;
	  height: 40px;
	  padding: 10px;
  }
}

.space {
  width: 100%;
  background: #eee;
  padding: 5px;
  text-align: center;
}

.posts .items > li:first-child {
  background: #fff !important;
}

.items li {
	h2 a {
		color: $red;
		font-size: 40px;
		margin-bottom: 20px;
		display: block;
	}
	h3 a {
		color: $red;
		font-size: 25px;
	}
	span {
		opacity: .5;
	}
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.wrap {
	padding-top: 20px;
	h2{
		color: $red;
		font-size: 40px;
		margin: 10px 0px;
		display: block;
	}
	
}

/**
 *   Pagination
 */

.pagination {
  overflow: hidden;
  padding: 30px 0;
  margin-bottom: 50px;
  border-top: 1px solid rgba(22, 36, 54, 0.1);
  border-bottom: 1px solid rgba(22, 36, 54, 0.1);
  &:empty {
    display: none;
  }
  a {
    float: left;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #6f7b8b;
    &:hover {
      color: #3c4857;
    }
    &.next {
      float: right;
    }
  }
}

/**
 *   Give some extra space to single-page wrappers
 */

.content.wrap {
  ul, ol {
    padding: 20px 30px;
  }
}

.items li ul {
  padding: 20px 30px;
}

.content.wrap {
  ul ul, ol ol {
    padding: 0 20px;
  }
}

.items li ul ul {
  padding: 0 20px;
}

/**
 *   Footnotes and straplines
 */

.footnote, .commentlist time, .items footer {
  display: block;
  padding: 5px 0 15px;
  color: #98a2b1;
  font-size: 14px;
  font-style: italic;
  white-space: nowrap;
	.icon {
		color: #fff;
		background: $red;
		padding: 10px;
		font-size: 20px;
		border-radius: 50%;
		&:hover {
			background: #000;
		}
	}
}

/**
 *   Comment form
 */

ul.commentlist {
  margin-bottom: 20px;
  list-style: none;
  border-top: 1px solid rgba(22, 36, 54, 0.1);
  .wrap {
    position: relative;
  }
  li {
    padding: 40px 0;
    border-bottom: 1px solid rgba(22, 36, 54, 0.1);
  }
  time {
    font-size: 13px;
  }
  h2 {
    font-size: 25px;
    line-height: 33px;
  }
  .counter {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    font-weight: 300;
    color: #cdd2da;
  }
}

#comment {
  overflow: hidden;
  label[for] {
    display: none;
  }
  p {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 10px;
    text-indent: 0;
    + p {
      margin-right: 0;
    }
    &.textarea {
      float: none;
      width: 100%;
    }
  }
  input, textarea {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    border: 1px solid rgba(22, 36, 54, 0.2);
    border-radius: 4px;
  }
  input:focus {
    outline: none;
    background: #f7f9fc;
  }
  textarea {
    &:focus {
      outline: none;
      background: #f7f9fc;
    }
    min-height: 150px;
    max-height: 800px;
    resize: vertical;
  }
  button {
    display: inline-block;
    padding: 9px 18px;
    background: $red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    &:hover {
      background: #000;
    }
  }
}

footer {
	margin: 20px 0px;
	.icon {
		color: #fff;
		background: $red;
		padding: 20px;
		border-radius: 50%;
		&:hover {
			background: #000;
		}
	}
}


article {
	a {
		color: $red;
	}
	img {
		margin-bottom: 10px;
	}
}


.post {
	strong {
		font-weight: normal;
		padding-bottom: 40px;
	}
}
